* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #130f1e;

  display: grid;
  place-content: center;
  height: 100vh;
  gap: 16px; 
}

.body {
  display: flex;
}

.darkest {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 20px;

  max-width: 300px;
  margin-left: 100px;
}

.title h1 {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 32px;
}

.title p {
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  color: white;
  opacity: 0.67;
}

.title.top {
  margin-bottom: 20px;
}

.primary {
  --bg-default: #8257e5;
  --bg-hover: #9674e5;
}

.secondary {
  --bg-default: #3c3748;
  --bg-hover: #6a617f;
}

.terciary {
  --bg-default: transparent;
  --bg-hover: transparent;
}

.buttons-cols {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.buttons-primary {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.buttons-secondary {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.buttons-terciary {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

button {
  background-color: var(--bg-default);
  font-family: 'Inter', sans-serif;
  border: 0;
  color: white;
  padding: 12px 24px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button:hover {
  background-color: var(--bg-hover);
}

button:focus {
  outline: 2px solid #d9cdf7;
}

button:disabled {
  background-color: var(--bg-default);
  opacity: 0.56; 
  cursor: not-allowed;
}

.loading {
  cursor: progress;
}

.loading i {
  font-size: 16px;
  animation: spin 700ms infinite linear;
}

.movable {
  cursor: move;
}

.movable i {
  font-size: 18px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}